/* Colour Pallette */
:root {
  --background-color: #9a275a;
  --text-color: #e2c6c2;
  --border-color: #cb958e;
  --selection-color: #e2bfba;
}

/* All elements styling  */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
    sans-serif;
}

/* Body styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Header styling */
header {
  display: flex;
  color: var(--background-color);
  justify-content: space-between;
  width: 100vh;
}

/* Main section styling  */
main {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 100vh;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

/* all div's inside of main styling */
main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* all h1 styling  */
h1 {
  margin-bottom: 0.25em;
  text-align: center;
}

/* when the user hovers 'View High Score' the cursor will change to pointer */
#highscores:hover {
  cursor: pointer;
}

/* No bullets and no padding for the choices of the quiz question */
#multiple-choice {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

/* quiz answer options styling */
#multiple-choice li {
  line-height: 1.5em;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 7px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  width: fit-content;
  border-radius: 20px;
}

/* when the user hover the option the opacity will turn down and the pointer will change */
#multiple-choice li:hover {
  opacity: 0.75;
  cursor: pointer;
}

/* no bullet points for the high score list  */
#highscore-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  line-height: 1.5em;
}

/* styling for buttons */
#start-button,
#after-button {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--background-color);
  border-radius: 20px;
}

#after-button {
  margin-top: 1rem;
}

/* when the user hover the buttons the opacity will turn down and the pointer will change */
#start-button:hover,
#after-button:hover {
  opacity: 0.75;
  cursor: pointer;
}
